<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0
			http://maven.apache.org/xsd/settings-1.1.0.xsd">

	<servers>
		<server>
			<id>packagecloud-che4</id>
			<!-- ${env.packagecloud-che4-password} -->
			<password>685ce86038ae24fb3068f907b90ca2423aac972c6e482043</password>
		</server>
	</servers>
</settings>
